@import 'variables';

// This is just for the sake of the demo
.example-container {
  .row {
    padding: 20px 0;
  }

  .example-wrapper {
    background-color: #f7f7f9;
    border: 1px solid #f1f1f1;
    padding: 20px;
    margin-bottom: 30px;

    &.add-space > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .scrollspy-example {
    position: relative;
    height: 200px;
    overflow: auto;
    background-color: #fff;
    padding: 10px;
  }
}

